--
-- PostgreSQL database dump
--

\restrict 7laDM0KJYMdWEatOnGAT4fYwisoDxUgUMshj8tB5PXFOnqUhoyp7RHe8y1fS0Bh

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: pku
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO pku;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: food_products; Type: TABLE; Schema: public; Owner: pku
--

CREATE TABLE public.food_products (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    unit text NOT NULL,
    protein_100g numeric(8,3) NOT NULL,
    phe_100g numeric(8,3) NOT NULL,
    kcal_100g integer NOT NULL,
    category text,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.food_products OWNER TO pku;

--
-- Name: users; Type: TABLE; Schema: public; Owner: pku
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'USER'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_login timestamp without time zone,
    is_enabled boolean DEFAULT true NOT NULL,
    is_account_non_expired boolean DEFAULT true NOT NULL,
    is_account_non_locked boolean DEFAULT true NOT NULL,
    is_credentials_non_expired boolean DEFAULT true NOT NULL,
    CONSTRAINT chk_users_role CHECK (((role)::text = ANY ((ARRAY['USER'::character varying, 'ADMIN'::character varying, 'PATIENT'::character varying, 'HEALTHCARE_PROVIDER'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO pku;

--
-- Name: food_products food_products_pkey; Type: CONSTRAINT; Schema: public; Owner: pku
--

ALTER TABLE ONLY public.food_products
    ADD CONSTRAINT food_products_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: pku
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: pku
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: pku
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_food_products_name; Type: INDEX; Schema: public; Owner: pku
--

CREATE INDEX idx_food_products_name ON public.food_products USING btree (name);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: pku
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_enabled; Type: INDEX; Schema: public; Owner: pku
--

CREATE INDEX idx_users_enabled ON public.users USING btree (is_enabled);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: pku
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: pku
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: pku
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- PostgreSQL database dump complete
--

\unrestrict 7laDM0KJYMdWEatOnGAT4fYwisoDxUgUMshj8tB5PXFOnqUhoyp7RHe8y1fS0Bh

